asgiref
astroid
certifi
chardet
colorama
commonmark
Django
gunicorn
idna
isort
lazy-object-proxy
mccabe
pprintpp
psycopg2
Pygments
pytz
requests
rich
six
soupsieve
sqlparse
toml
typing-extensions
urllib3
wrapt
